/* MAIN */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Set a light background color */
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

/* Add media queries for different screen sizes */
@media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
}

@media only screen and (max-width: 480px) {
    /* Further adjustments for mobile devices */
}

/* NAVBAR & FOOTER*/
.navbar {
    background-color: #fff;
    padding: 0.2%;
    border-radius: 20px; /* Reduced border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Center align logo and menu */
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu li a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative;
}

.menu li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0088a9; 
    transition: width 0.7s ease; /* Animation transition */
}

.menu li a:hover::after {
    width: 100%; 
}

.logo-img {
    margin-left: 1%;
    width: 5%; /* Adjust the width as needed */
    height: auto; /* This will maintain the aspect ratio */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 30px;
}

.menu li a:hover {
    color: #0088a9;
}

.icons img {
    width: 25px; /* Increased icon size */
    height: 25px; /* Increased icon size */
}

main {
    padding: 0%;
    text-align: center; /* Center align main content */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 120px;
}

.dropdown-content a {
    color: #0088a9; /* Set text color to light blue */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 1s ease; /* Smooth background color transition */
}

.dropdown a:hover .dropdown-content{
    color: #0088a9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 4px solid #0acac7;
}

footer .social-media img {
    filter: grayscale(100%);
    transition: filter 0.3s;
}

footer .social-media img:hover {
    filter: none;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
}



/* HOMEPAGE */
#home {
    position: relative;
}

video {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.welcome-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    font-weight: bold;
    font-size: 28px;
    border: 5px solid #f1f1f1;
    width: 60%;
    margin: auto;
}

.welcome-overlay h2 {
    margin: 0;
    font-size: 24px;
}

.btns button {
    height: 40px;
    width: 150px;
    border-radius: 100px;
    border: none;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}

.btns button:hover {
    background-color: #0088a9;
    color: #fff;
}
/* LOGIN & REGISTER */


/* RANKING */
.container {
    max-width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.selector-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.selectors select {
    padding: 8px 12px;
    font-size: 16px;
}

.selector-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.selector-group .selector-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.selector-group input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px; /* Adjust width as necessary */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #003366;
    color: #f2f2f2;
}

.leaderboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    text-align: center;
}

.leader {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.leader:hover {
    transform: translateY(-10px); /* Moves the element up by 10px */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Increases the shadow for a lifting effect */
}

.leader img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.details h2 {
    margin: 10px 0;
    font-size: 24px;
}

.details h3 {
    margin: 5px 0;
    font-size: 20px;
}

.details p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

:root {
    --primary-color: #0acac7;
    --secondary-color: #f9f9f9;
    --text-color: #333;
    --background-color: #ffffff;
    --accent-color: #17706d;
}

.main_container {
    max-width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.main_container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Static/Images/Background.jpg') no-repeat center;
    background-size: cover;
    color: #333;
}

.vertical-line {
    width: 2px;
    height: 50px; /* Adjust height as needed */
    background-color: black;
    margin: 0 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #0088a9;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.leader img {
    width: 100%; /* Adjust based on your design */
    height: 60%; /* Adjust based on your design */
    object-fit: cover; /* Ensure the image scales properly */
}


/* CALENDAR */

/* Highlight today's date */
#calendar td.today {
    background-color: #dbdbdb; /* Highlight color */
    font-weight: bold;
    color: #000;
}

/* Calendar Table */
#calendar {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#calendar th, #calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 14.28%; /* 100% / 7 days */
}

#calendar th {
    background-color: #003366;
    color: white;
}

#calendar td {
    background-color: #f9f9f9;
}

#calendar td:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#event-list {
    text-align: left;
    margin-top: 30px;
}

#event-list ul {
    list-style-type: none;
    padding: 0;
}

#event-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #0088a9;
}

#event-list li:hover {
    background-color: #f1f1f1;
    border-left-color: #0a8a8a;
}

#calendar ul {
    padding: 0;
    list-style-type: none;
    margin-top: 5px;
}

#calendar li {
    font-size: 0.8em; /* Adjust the size as needed */
    color: #0088a9; /* Set a color for event titles */
}




/* ABOUT US */
.about-us {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 0 15px;
    box-sizing: border-box;
}

.column img {
    width: 100%;
    height: auto;
}

/* Reverse the layout for the second section */
.about-us.reversed .column {
    order: -1;
}

.about-us.reversed .column img {
    order: 1;
}

.about-us h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}


.intro {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.intro-text {
    flex: 1;
    min-width: 200px;
}

.intro-video {
    flex: 1;
    min-width: 200px;
    max-height: 300px;
}

.intro-video video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history, .techniques {
    margin-bottom: 20px;
}

.techniques-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.technique {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-us {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 0 15px;
    box-sizing: border-box;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-us.reversed .column {
    order: -1;
}

.about-us h1, .about-us h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.about-us button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    background-color: #0acac7;
    color: #fff;
}

.about-us button:hover {
    background-color: #17706d;
}

/*ERROR PAGE*/
.error-container {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #f1f1f1;
    max-width: 600px;
    margin: auto;
    font-weight: bold;
    font-size: 28px;
}

.error-container h1 {
    font-size: 72px;
    margin: 0;
}

.error-container p {
    font-size: 24px;
}


/*STORIES*/

.stories-container {
    max-width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}


/* Improve Section Headers */
.section-header {
    font-size: 2.5rem; /* Increase font size */
    color: #000000; /* Ensure the header text color stands out */
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.subsection-header {
    font-size: 2rem; /* Increase font size */
    color: #000000; /* Ensure the header text color stands out */
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #0088a9; /* Add underline */
    padding-bottom: 10px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 206px;
    text-align: left;
    position: relative;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card h2 {
    margin: 10px;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.card p {
    margin: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.story-content {
    display: none;
    margin-top: 10px;
}

.card.expanded .story-content {
    display: block;
}

.card.expanded {
    max-height: 400px; /* Adjust as necessary */
    transition: max-height 0.5s ease-in-out;
}

.icons img {
    width: 25px;
    height: 25px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.expanded-card-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.expanded-card-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
}

.expanded-card-content img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.expanded-card-content h2 {
    margin: 10px 0;
    font-size: 24px;
}

.expanded-card-content p {
    font-size: 16px;
    color: #333;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s;
}

.close-button:hover {
    color: #000;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-img {
    position: absolute;
    width: 300%;
    height: auto;
    opacity: 1.5;
}

.expanded-card-img {
    position: relative;
    width: 50%;
    height: auto;
    display: block;
    z-index: 1;
}

#mySidenav a {
    position: fixed;
    left: -175px; /* Position them outside of the screen */
    transition: 0.3s; 
    padding: 15px; 
    width: 200px; /* Set a specific width */
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0; 
  }
  
#mySidenav a:hover {
    left: 0; 
    background-color: #000000;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
  
#value {
    top: 140px;
    background-color: #ffffff;
    z-index: 1;
}
  
#traditional {
    top: 200px;
    background-color: #ffffff; 
    z-index: 1;
}
  
#gourmet {
    top: 260px;
    background-color: #ffffff; 
    z-index: 1;
}
