{% extends "layout.html" %}

{% block title %}About us - Fencing Hub{% endblock %}

{% block body_id %}about_us-page{% endblock %}

    {% block content %}
    <main class="main_container">
        <section class="about-us">
            <div class="container">
                <h1>About Us</h1>
                <div class="row">
                    <div class="column">
                        <img src="Static/Images/Team.jpeg" alt="Our Team">
                    </div>
                    <div class="column">
                        <h2>Our Mission</h2>
                        <p>At Fencing Hub, our mission is to promote the sport of fencing by providing up-to-date rankings, event information, and engaging stories. We aim to create a community where fencers can connect, share their experiences, and stay informed about the latest developments in the sport.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-us reversed">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <h2>Our Team</h2>
                        <p>Founded in 2024, Fencing Hub was created by a passionate fencer who saw the need for another centralized platform to bring together the global fencing community.</p>
                    </div>
                    <div class="column">
                        <img src="Static/Images/Me.jpeg" alt="Founding Team">
                    </div>
                </div>
            </div>
        </section>
        <section class="about-us">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <img src="Static/Images/group.JPG" alt="Community Event">
                    </div>
                    <div class="column">
                        <h2>Join Our Community</h2>
                        <p>We invite you to join our community and become a part of the Fencing Hub family. Whether you are a seasoned fencer or new to the sport, you will find valuable resources, support, and connections to help you on your fencing journey.</p>
                        <button onclick="window.location.href='/register'">Join Now</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
{% endblock %}