{% extends "layout.html" %}

{% block title %}Home - Fencing Hub{% endblock %}

{% block content %}
<video id="video-background" autoplay loop muted>
    <source src="Static/Images/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<main>
    <div class="welcome-overlay">
        <h1>Fencing Hub</h1>
        <p>Your ultimate destination for all things fencing</p>
        <div class="btns">
            <button onclick="window.location.href='/rankings'">Rankings</button>
            <button onclick="window.location.href='/about_us'">About us</button>
        </div>
    </div>          
</main>
{% endblock %}