<nav class="navbar"> 
    <img src="Static/Images/Logos/Logo_removed.png" alt="Logo" class="logo-img">
    <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/rankings">Rankings</a></li>
        <li class="dropdown">
            <a href="/events">Events ▼</a>
            <div class="dropdown-content">
                <a href="/calendar">Calendar</a>
                <a href="#">Results</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">Information ▼</a>
            <div class="dropdown-content">
                <a href="/about_fencing">About Fencing</a>
                <a href="/stories">Stories</a>
                <a href="/about_us">About Us</a>
            </div>
        </li>
    </ul>
    <div class="btns">
        {% if logged_in %}
        <button onclick="window.location.href='/logout'">👤Log Out</button>
        {% else %}
        <button onclick="window.location.href='/login'">👤Log In</button>
        {% endif %}
    </div>
</nav>

<body>
    {%block content%}{%endblock}
</body>