<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories - Fencing Hub</title>
    <link rel="stylesheet" href="Static/styles.css">
    <link rel="icon" type="image/png" href="Static/Images/Logos/Logo.png">
</head>
<body id="stories-page" style="background: url('Static/Images/Background.jpg') no-repeat center; background-size: cover;">
    <nav class="navbar">
        <img src="Static/Images/Logos/Logo_removed.png" alt="Logo" class="logo-img">
        <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/rankings">Rankings</a></li>
            <li class="dropdown">
                <a href="/events">Events ▼</a>
                <div class="dropdown-content">
                    <a href="/calendar">Calendar</a>
                    <a href="#">Results</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#">Information ▼</a>
                <div class="dropdown-content">
                    <a href="/about_fencing">About Fencing</a>
                    <a href="/stories">Stories</a>
                    <a href="/about_us">About Us</a>
                </div>
            </li>
        </ul>
        <div class="btns">
            <button onclick="window.location.href='/login'">👤Log In</button>
        </div>
    </nav>

    <main>
        {% block content %}
        <div class="card-container">
            {% if male_fencers|length > 2 %}
            <div class="card">
                <img src="data:image/jpeg;base64,{{ fencer[3] }}" alt="{{ fencer[1] }} {{ fencer[2] }}">
                <h2>{{ fencer[1] }} {{ fencer[2] }}</h2>
                <p>{{ fencer[4] }}</p>  
            </div>
            {% endif %}
            <div class="card">
                <img src="player2.jpg" alt="Javon East">
                <h2>Javon East</h2>
                <p>Delantero</p>
            </div>
            <div class="card">
                <img src="Static/Images/Fencing-background.jpeg" alt="Luis Paradela">
                <h2>Luis Paradela</h2>
                <p>Delantero</p>
            </div>
        </div>
        {% endblock %}
    </main>

    <footer>
        <ul>
            <li>&copy; 2024 Fencing Hub. All rights reserved.</li>
        </ul>
        <div class="social-media">
            <a href="#"><img src="Static/Images/Logos/Facebook.png" alt="Facebook"></a>
            <a href="#"><img src="Static/Images/Logos/X.png" alt="Twitter"></a>
            <a href="#"><img src="Static/Images/Logos/Insta.png" alt="Instagram"></a>
        </div>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
