{% extends "layout.html" %}

{% block title %}Stories - Fencing Hub{% endblock %}

{% block body_id %}about_us-page{% endblock %}
{% block body_style %}background: linear-gradient(135deg, #0088a9, #24252A);{% endblock %}
    {% block content %}

    <main>
        <div id="mySidenav" class="sidenav">
            <a href="#epee-down" id="value">Epee</a>
            <a href="#foil-down" id="traditional">Foil</a>
            <a href="#sabre-down" id="gourmet">Sabre</a>
        </div>

        <div class="stories-container">
            <h1 class="section-header">Fencer Information</h1>
            <div id="epee-down"></div>
            <br>
            <h2 class="subsection-header">Epee</h2>
            <h2>- Male -</h2>
            <div class="card-container">
                {% for fencer in Mepee %}
                <div class="card" data-content="<b>Gender</b> : {{ fencer[6] }} <br> <b>Age</b> : {{ fencer[7] }}  <br> <b>Nationality</b> : {{ fencer[4] }} <br> <b>Occupation</b> : {{ fencer[13] }} <br> <b>Languages</b> : {{ fencer[12] }} <br> <b>License NO.</b> : {{ fencer[14] }} <br> <h3 style='text-align: center;'>- Backstory -</h3> <p style='text-align: center;' >{{ fencer[15] }}</p>">
                    <img src="{{fencer[3]}}" alt="{{ fencer[1] }} {{ fencer[2] }}">
                    <h2>{{ fencer[1] }} {{ fencer[2] }}</h2>
                    <p>{{ fencer[4] }}</p>  
                    <h2>𓊆{{ fencer [11]}}𓊇</h2>
                </div>
                {% endfor %}
            </div>
            <h2>- Female -</h2>
            <div class="card-container">
                {% for fencer in Fepee %}
                <div class="card" data-content="<b>Gender</b> : {{ fencer[6] }} <br> <b>Age</b> : {{ fencer[7] }}  <br> <b>Nationality</b> : {{ fencer[4] }} <br> <b>Occupation</b> : {{ fencer[13] }} <br> <b>Languages</b> : {{ fencer[12] }} <br> <b>License NO.</b> : {{ fencer[14] }} <br> <h3 style='text-align: center;'>- Backstory -</h3> <p style='text-align: center;' >{{ fencer[15] }}</p>">
                    <img src="{{fencer[3]}}" alt="{{ fencer[1] }} {{ fencer[2] }}">
                    <h2>{{ fencer[1] }} {{ fencer[2] }}</h2>
                    <p>{{ fencer[4] }}</p>  
                    <h2>𓊆{{ fencer [11]}}𓊇</h2>
                </div>
                {% endfor %}
            </div>
            <div id="foil-down"></div>
            <h1 class="subsection-header">Foil</h1>
            <h2>- Male -</h2>
            <div class="card-container">
                {% for fencer in Mfoil %}
                <div class="card" data-content="<b>Gender</b> : {{ fencer[6] }} <br> <b>Age</b> : {{ fencer[7] }}  <br> <b>Nationality</b> : {{ fencer[4] }} <br> <b>Occupation</b> : {{ fencer[13] }} <br> <b>Languages</b> : {{ fencer[12] }} <br> <b>License NO.</b> : {{ fencer[14] }} <br> <h3 style='text-align: center;'>- Backstory -</h3> <p style='text-align: center;' >{{ fencer[15] }}</p>">
                    <img src="{{fencer[3]}}" alt="{{ fencer[1] }} {{ fencer[2] }}">
                    <h2>{{ fencer[1] }} {{ fencer[2] }}</h2>
                    <p>{{ fencer[4] }}</p>  
                    <h2>𓊆{{ fencer [11]}}𓊇</h2>
                </div>
                {% endfor %}
            </div>
            <h2>- Female -</h2>
            <div class="card-container">
                {% for fencer in Ffoil %}
                <div class="card" data-content="<b>Gender</b> : {{ fencer[6] }} <br> <b>Age</b> : {{ fencer[7] }}  <br> <b>Nationality</b> : {{ fencer[4] }} <br> <b>Occupation</b> : {{ fencer[13] }} <br> <b>Languages</b> : {{ fencer[12] }} <br> <b>License NO.</b> : {{ fencer[14] }} <br> <h3 style='text-align: center;'>- Backstory -</h3> <p style='text-align: center;' >{{ fencer[15] }}</p>">
                    <img src="{{fencer[3]}}" alt="{{ fencer[1] }} {{ fencer[2] }}">
                    <h2>{{ fencer[1] }} {{ fencer[2] }}</h2>
                    <p>{{ fencer[4] }}</p>  
                    <h2>𓊆{{ fencer [11]}}𓊇</h2>
                </div>
                {% endfor %}
            </div>
            <div id="sabre-down"></div>
            <h1 class="subsection-header">Sabre</h1>
            <h2>- Male -</h2>
            <div class="card-container">
                {% for fencer in Msabre %}
                <div class="card" data-content="<b>Gender</b> : {{ fencer[6] }} <br> <b>Age</b> : {{ fencer[7] }}  <br> <b>Nationality</b> : {{ fencer[4] }} <br> <b>Occupation</b> : {{ fencer[13] }} <br> <b>Languages</b> : {{ fencer[12] }} <br> <b>License NO.</b> : {{ fencer[14] }} <br> <h3 style='text-align: center;'>- Backstory -</h3> <p style='text-align: center;' >{{ fencer[15] }}</p>">
                    <img src="{{fencer[3]}}" alt="{{ fencer[1] }} {{ fencer[2] }}">
                    <h2>{{ fencer[1] }} {{ fencer[2] }}</h2>
                    <p>{{ fencer[4] }}</p>  
                    <h2>𓊆{{ fencer [11]}}𓊇</h2>
                </div>
                {% endfor %}
            </div>
            <h2>- Female -</h2>
            <div class="card-container">
                {% for fencer in Fsabre %}
                <div class="card" data-content="<b>Gender</b> : {{ fencer[6] }} <br> <b>Age</b> : {{ fencer[7] }}  <br> <b>Nationality</b> : {{ fencer[4] }} <br> <b>Occupation</b> : {{ fencer[13] }} <br> <b>Languages</b> : {{ fencer[12] }} <br> <b>License NO.</b> : {{ fencer[14] }} <br> <h3 style='text-align: center;'>- Backstory -</h3> <p style='text-align: center;' >{{ fencer[15] }}</p>">
                    <img src="{{fencer[3]}}" alt="{{ fencer[1] }} {{ fencer[2] }}">
                    <h2>{{ fencer[1] }} {{ fencer[2] }}</h2>
                    <p>{{ fencer[4] }}</p>  
                    <h2>𓊆{{ fencer [11]}}𓊇</h2>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="expanded-card-container" id="expandedCardContainer">
            <div class="expanded-card-content" id="expandedCardContent">
                <span class="close-button" id="closeButton">&times;</span>
                <div id="expandedCardDetails"></div>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const cards = document.querySelectorAll('.card');
            const expandedCardContainer = document.getElementById('expandedCardContainer');
            const expandedCardContent = document.getElementById('expandedCardContent');
            const closeButton = document.getElementById('closeButton');
            const expandedCardDetails = document.getElementById('expandedCardDetails');
    
            cards.forEach(card => {
                card.addEventListener('click', () => {
                    const cardContent = card.getAttribute('data-content');
                    const cardImage = card.querySelector('img').src;
                    const cardTitle = card.querySelector('h2').textContent;
                    const nationality = card.querySelector('p').textContent;

                    const flagImage = `Static/Images/Flags/${nationality}.png`;
    
                    expandedCardDetails.innerHTML = `
                        <img src="${flagImage}" alt="${nationality} flag" class="flag-img">
                        <div class="image-container">
                            <img src="${cardImage}" alt="${cardTitle}" class="expanded-card-img">
                        </div>
                        <h2>${cardTitle}</h2>
                        <p>${cardContent}</p>
                    `;
    
                    expandedCardContainer.style.display = 'flex';
                });
            });
    
            closeButton.addEventListener('click', () => {
                expandedCardContainer.style.display = 'none';
            });
    
            expandedCardContainer.addEventListener('click', (e) => {
                if (e.target === expandedCardContainer) {
                    expandedCardContainer.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}